@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Dogs API</h3>
    <p class="lead">Demonstration on applying persitance in a Json file.</p>
</div>

<div class="row">
  
        <div class="col-md-4">
            <h3>Application</h3>
            <p>
                Utilising MVC 5, Microsoft Unity for dependency injection and open-source jqGrid for the dog list.
            </p>
            <p><a class="btn btn-default" href="https://github.com/muriel68/DogsAPI2Solution">Github Repo &raquo;</a></p>
        </div>
    <div class="col-md-4">
        <h3>Grid</h3>
        <p>
            Guriddo jqGrid
        </p>
        <p><a class="btn btn-default" href="http://www.trirand.com/blog/">Grid &raquo;</a></p>
    </div>
    </div>
