
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/DogsWebList/Scripts/index.js"></script>
<script src="~/Areas/DogsWebList/Scripts/JqueryStyling.js"></script>


<br />
<br />
<br />

<table id="jqDogGrid"></table>
<div id="pager"></div>

<div id="addDialog" title="New Dog">

    Name: 
    <input type="text" id="tbDogNameAdd" class="form-control" required />
    <br />
    Type: 
    <textarea type="text" id="taDogTypeAdd" rows="2" cols="30" class="form-control" title="place a ',' after each"></textarea>
    <i style="font-size:small">(place a ',' inbetween. Duplicates will be automatically removed)</i> 


</div>

<div id="editDialog" title="Edit Dog">

    <input type="hidden" id="hdDogNameForUpdate" />
    Name: <input type="text" id="tbDogName" class="form-control" required />
    <br />
    Type:
    <textarea type="text" id="taDogType" rows="2" cols="30" class="form-control" title="place a ',' after each" ></textarea>
    <i style="font-size:small">(place a ',' inbetween. Duplicates will be automatically removed)</i> 


</div>

<div id="addDogTypeDialog" title="Add Dog Type">

    Name: <input type="text" id="tbDogTypeName" class="form-control" />
    <input type="hidden" id="hdDogType" />

</div>