
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Areas/DogsWebList/Scripts/index.js"></script>


<h2>Dogs Web List</h2>

<table id="jqDogGrid"></table>
<div id="pager"></div>

